description "Consul {{ consul_install_type }}"
start on (local-filesystems and net-device-up IFACE!=lo)
stop on runlevel [016]

respawn
setuid {{ consul_user }}
setgid {{ consul_group }}

{% set daemon_flags = [] -%}

{%- for cmd in consul_command_line_flags %}
  {%- set _ = daemon_flags.append(cmd) -%}
{% endfor -%}

script
  exec >> "{{ consul_log_dir }}/consul.log"
  exec 2>&1
  exec /usr/local/bin/consul agent {{ daemon_flags|join(' ') }}
end script
